<template name="profile">
    <h3>My profile </h3>
    {{#with profile}}
      <h3>{{firstName}}</h3>
      {{#if headline}}
        <h3>{{headline}}</h3>
      {{/if}}
      {{#if summary}}
        <p>{{summary}}</p>
      {{/if}}
      {{#if summary}}
        {{#with threeCurrentPositions}}
          {{> threeCurrentPositions}}
        {{/with}}
        {{#with threePastPositions}}
          {{> threePastPositions}}
        {{/with}}
      {{/if}}
      {{#with educations}}
        {{> educations}}
      {{/with}}
    {{/with}}
</template>

<template name="educations">
<h2>Education</h2>
{{#each values}}
  {{> education}}
{{/each}}
</template>

<template name="education">
{{>date_template_partial}}
<h3>{{degree}}</h3>
<h3>{{schoolName}}</h3>
<h3>{{fieldOfStudy}}</h3>
<p>{{notes}}</p>

</template>

<template name="threeCurrentPositions">
<h2>Current positions</h2>
{{#each values}}
  {{> position}}
{{/each}}
</template>

<template name="threePastPositions">
<h2>Past positions</h2>
{{#each values}}
  {{> position}}
{{/each}}
</template>

<template name="position">
<h4>{{title}}</h4>
{{>date_template_partial}}
<p>{{summary}}</p>
</template>

<template name="date_template_partial">
  <h4>
    {{#if startDate || endDate}}
    Period :
  {{/if}}
  {{#if startDate}}
      {{#if startDate.month}}
        {{startDate.month}} -
      {{/if}}
      {{#if startDate.year}}
        {{startDate.year}}
      {{/if}}
      -
  {{/if}}
  {{#if endDate}}
      {{#if endDate.month}}
        {{endDate.month}} -
      {{/if}}
      {{#if endDate.year}}
        {{endDate.year}}
      {{/if}}
  {{else}}
    Present
  {{/if}}
  </h4>
</template>
