<template name="profile">
    <h3>My profile </h3>
    {{#with profile}}
      <h3>{{firstName}}</h3>
      {{#if headline}}
        <h3>{{headline}}</h3>
      {{/if}}
      {{#if summary}}
        <p>{{summary}}</p>
      {{/if}}
      {{#if summary}}
        {{#with threeCurrentPositions}}
          {{> threeCurrentPositions}}
        {{/with}}
      {{/if}}
      {{#with educations}}
        {{> educations}}
      {{/with}}
    {{/with}}
</template>

<template name="educations">
<h2>Education</h2>
{{#each values}}
  {{> education}}
{{/each}}
</template>

<template name="education">
{{#if statDate}}
  <h3>{{startDate.year}} - {{endDate.year}}</h3>
{{/if}}
<h3>{{degree}}</h3>
<h3>{{schoolName}}</h3>
<h3>{{fieldOfStudy}}</h3>
<p>{{notes}}</p>

</template>

<template name="threeCurrentPositions">
<h2>Current position</h2>
{{#each values}}
  {{> current_position}}
{{/each}}
</template>

<template name="current_position">
<h4>{{title}}</h4>
<h4>Start date : {{startDate.month}} - {{startDate.year}}</h4>
</template>
